ics-emulator/scenarios/wind-farm/node-red-flows/client.json
[
    {
        "id": "8154a2.d3cebb6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ee6ebdf5.6d82",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "Pitch Gauge",
        "group": "99a28dd6.91df78",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Pitch",
        "label": "Degrees",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "60d80d52.1bdf04",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "Wind Speed Guage",
        "group": "99a28dd6.91df78",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "km/h",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "6c97b654.cff0d",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "Wind Direction Compass",
        "group": "99a28dd6.91df78",
        "order": 4,
        "width": "5",
        "height": "3",
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "Degrees",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "221bc609.1b000a",
        "type": "modbus-read",
        "z": "8154a2.d3cebb6",
        "name": "Read Holding Registers",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "6",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "10f87254.083c46",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 400,
        "y": 140,
        "wires": [
            [],
            [
                "8bd242e9.54494"
            ]
        ]
    },
    {
        "id": "8bd242e9.54494",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": " Decode array",
        "func": "//Read holding registers\nwindDirection = msg.payload.data[0]\nwindSpeed = msg.payload.data[1]\npitch = msg.payload.data[2]\nenergy = msg.payload.data[3]\nrpm = msg.payload.data[4]\n\n\n//set global values\nglobal.set(\"windDirection\", windDirection);\nglobal.set(\"windSpeed\", windSpeed);\nglobal.set(\"pitch\", pitch);\nglobal.set(\"energy\", energy);\nglobal.set(\"rpm\", rpm);\n\n//if active, show details on HMI - Clean code\nvar active = global.get(\"active\");\n\n\nvar msg1 = { payload:windDirection};\nvar msg2 = { payload:windSpeed};\nvar msg3 = { payload:pitch};\nvar msg4 = { payload:energy};\nvar msg5 = { payload:rpm};\n\n//return messages\nreturn [ msg1, msg2, msg3, msg4, msg5];\n",
        "outputs": 5,
        "noerr": 0,
        "x": 424.78684997558594,
        "y": 261.7841491699219,
        "wires": [
            [
                "6c97b654.cff0d"
            ],
            [
                "60d80d52.1bdf04"
            ],
            [
                "ee6ebdf5.6d82"
            ],
            [
                "2ee8cfea.5b723"
            ],
            [
                "7c4ad958.c3c9d"
            ]
        ]
    },
    {
        "id": "7c4ad958.c3c9d",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "RPM Gauge",
        "group": "99a28dd6.91df78",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "donut",
        "title": "RPM",
        "label": "m/s",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 280,
        "wires": []
    },
    {
        "id": "51566756.a4382",
        "type": "comment",
        "z": "8154a2.d3cebb6",
        "name": "CLIENT",
        "info": "Client",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "b9d5a88a.5c4208",
        "type": "comment",
        "z": "8154a2.d3cebb6",
        "name": "Turbine 1 - Read incoming Traffic",
        "info": "# Client",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "61092a90.692d84",
        "type": "ui_text",
        "z": "8154a2.d3cebb6",
        "group": "d463d064.e591e8",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Turbine Status: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "b6e9ff9f.7c0fb8",
        "type": "modbus-read",
        "z": "8154a2.d3cebb6",
        "name": "Read Coils",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "6",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "10f87254.083c46",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 360,
        "y": 380,
        "wires": [
            [],
            [
                "9d53d1ee.ebb6a"
            ]
        ]
    },
    {
        "id": "9d53d1ee.ebb6a",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": " Decode array",
        "func": "active = msg.payload.data[0]\n\n//Set global status\nglobal.set(\"active\", active)\n\n//SEt HMI active label\nvar status = \"inactive\";\n\nif (active === true){\n    status = \"active\";\n}\n\nvar msg1 = {payload:status};\nreturn [ msg1];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 413.2666320800781,
        "y": 470.6666121482849,
        "wires": [
            [
                "61092a90.692d84"
            ]
        ]
    },
    {
        "id": "cc380dfc.dc0068",
        "type": "debug",
        "z": "8154a2.d3cebb6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1030,
        "y": 680,
        "wires": []
    },
    {
        "id": "9784814b.2563e",
        "type": "modbus-flex-write",
        "z": "8154a2.d3cebb6",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "10f87254.083c46",
        "x": 990,
        "y": 640,
        "wires": [
            [],
            [
                "cc380dfc.dc0068"
            ]
        ]
    },
    {
        "id": "ccc8c3e2.15a828",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "turbine status function",
        "func": "//send turbine status payload\nmsg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 1,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "9784814b.2563e"
            ]
        ]
    },
    {
        "id": "dd90e4ee.2d2508",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "manual config Coil",
        "func": "//Send coil\nmsg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 2, \n'address': 3,\n'quantity': 1 } \n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 860,
        "wires": [
            [
                "23286a53.53a636"
            ]
        ]
    },
    {
        "id": "23286a53.53a636",
        "type": "modbus-flex-write",
        "z": "8154a2.d3cebb6",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "10f87254.083c46",
        "x": 1010,
        "y": 740,
        "wires": [
            [],
            [
                "cf719f72.6f8eb"
            ]
        ]
    },
    {
        "id": "cf719f72.6f8eb",
        "type": "debug",
        "z": "8154a2.d3cebb6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1030,
        "y": 800,
        "wires": []
    },
    {
        "id": "84b08f5a.62ba",
        "type": "ui_switch",
        "z": "8154a2.d3cebb6",
        "name": "",
        "label": "Switch - Manual Config",
        "tooltip": "",
        "group": "d463d064.e591e8",
        "order": 7,
        "width": "5",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 410,
        "y": 860,
        "wires": [
            [
                "dd90e4ee.2d2508"
            ]
        ]
    },
    {
        "id": "2b2d2324.b06554",
        "type": "ui_slider",
        "z": "8154a2.d3cebb6",
        "name": "",
        "label": "pitch Slider",
        "tooltip": "",
        "group": "d463d064.e591e8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "360",
        "step": 1,
        "x": 440,
        "y": 920,
        "wires": [
            [
                "53cead63.469cbc"
            ]
        ]
    },
    {
        "id": "53cead63.469cbc",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "Manual pitch Reg",
        "func": "//send manual pitch payload\nmsg.payload = { value: msg.payload, \n    'fc': 6,\n    'unitid': 1, \n    'address': 6,\n    'quantity': 1 } \nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 920,
        "wires": [
            [
                "23286a53.53a636"
            ]
        ]
    },
    {
        "id": "b900f315.3a6968",
        "type": "ui_button",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "d463d064.e591e8",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "ccc8c3e2.15a828",
                "12f2cece.941e69"
            ]
        ]
    },
    {
        "id": "95aaa58d.0f1ce",
        "type": "ui_button",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "d463d064.e591e8",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 430,
        "y": 620,
        "wires": [
            [
                "ccc8c3e2.15a828",
                "12f2cece.941e69"
            ]
        ]
    },
    {
        "id": "6ae43f12.4592e",
        "type": "ui_button",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "d463d064.e591e8",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Tag Out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 440,
        "y": 660,
        "wires": [
            [
                "ccc8c3e2.15a828",
                "12f2cece.941e69"
            ]
        ]
    },
    {
        "id": "1c420c25.882514",
        "type": "ui_button",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "d463d064.e591e8",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 440,
        "y": 700,
        "wires": [
            [
                "ccc8c3e2.15a828",
                "12f2cece.941e69",
                "83f020fb.150d5"
            ]
        ]
    },
    {
        "id": "1e4452a2.1260ad",
        "type": "comment",
        "z": "8154a2.d3cebb6",
        "name": "Client Manual PItch Config",
        "info": "",
        "x": 410,
        "y": 820,
        "wires": []
    },
    {
        "id": "12f2cece.941e69",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "Active Coil",
        "func": "msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 2, \n'address': 2,\n'quantity': 1 } \n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 720,
        "wires": [
            [
                "23286a53.53a636"
            ]
        ]
    },
    {
        "id": "83f020fb.150d5",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "RestartStatus Coil",
        "func": "msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 2, \n'address': 4,\n'quantity': 1 } \n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 680,
        "wires": [
            [
                "23286a53.53a636"
            ]
        ]
    },
    {
        "id": "fd66bccc.6cdef",
        "type": "comment",
        "z": "8154a2.d3cebb6",
        "name": "Turbine 1 - Send outgoing Traffic",
        "info": "# Client",
        "x": 391,
        "y": 541,
        "wires": []
    },
    {
        "id": "a0cccbfa.d613b",
        "type": "debug",
        "z": "8154a2.d3cebb6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1050,
        "y": 1680,
        "wires": []
    },
    {
        "id": "d4af8fe9.25aca8",
        "type": "modbus-flex-write",
        "z": "8154a2.d3cebb6",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "10f87254.083c46",
        "x": 1010,
        "y": 1640,
        "wires": [
            [],
            [
                "a0cccbfa.d613b"
            ]
        ]
    },
    {
        "id": "27678e7e.b9be9a",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "turbine status function",
        "func": "//send turbine status payload\nmsg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 5,\n'quantity': 1 } \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1600,
        "wires": [
            [
                "d4af8fe9.25aca8"
            ]
        ]
    },
    {
        "id": "5e054a12.db8604",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "manual config Coil",
        "func": "//Send coil\nmsg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 2, \n'address': 7,\n'quantity': 1 } \n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1860,
        "wires": [
            [
                "7306430c.45d584"
            ]
        ]
    },
    {
        "id": "7306430c.45d584",
        "type": "modbus-flex-write",
        "z": "8154a2.d3cebb6",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "10f87254.083c46",
        "x": 1030,
        "y": 1740,
        "wires": [
            [],
            [
                "1cedc551.4b162b"
            ]
        ]
    },
    {
        "id": "1cedc551.4b162b",
        "type": "debug",
        "z": "8154a2.d3cebb6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1060,
        "y": 1800,
        "wires": []
    },
    {
        "id": "274ad064.34c718",
        "type": "ui_switch",
        "z": "8154a2.d3cebb6",
        "name": "",
        "label": "Switch - Manual Config",
        "tooltip": "",
        "group": "8dd0d8b8.9255d8",
        "order": 7,
        "width": "5",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 430,
        "y": 1860,
        "wires": [
            [
                "5e054a12.db8604"
            ]
        ]
    },
    {
        "id": "9125a83a.b9bff8",
        "type": "ui_slider",
        "z": "8154a2.d3cebb6",
        "name": "",
        "label": "pitch Slider",
        "tooltip": "",
        "group": "8dd0d8b8.9255d8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "360",
        "step": 1,
        "x": 460,
        "y": 1920,
        "wires": [
            [
                "9a44aae2.00fcb"
            ]
        ]
    },
    {
        "id": "9a44aae2.00fcb",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "Manual pitch Reg",
        "func": "//send manual pitch payload\nmsg.payload = { value: msg.payload, \n    'fc': 6,\n    'unitid': 1, \n    'address': 12,\n    'quantity': 1 } \nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1920,
        "wires": [
            [
                "7306430c.45d584"
            ]
        ]
    },
    {
        "id": "fe5499de.8eb6b8",
        "type": "ui_button",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "8dd0d8b8.9255d8",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 450,
        "y": 1580,
        "wires": [
            [
                "27678e7e.b9be9a",
                "be54094d.4b4c3"
            ]
        ]
    },
    {
        "id": "f2df4837.24c058",
        "type": "ui_button",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "8dd0d8b8.9255d8",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "27678e7e.b9be9a",
                "be54094d.4b4c3"
            ]
        ]
    },
    {
        "id": "216006f4.a202ea",
        "type": "ui_button",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "8dd0d8b8.9255d8",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Tag Out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 460,
        "y": 1660,
        "wires": [
            [
                "27678e7e.b9be9a",
                "be54094d.4b4c3"
            ]
        ]
    },
    {
        "id": "2827291a.d79a16",
        "type": "ui_button",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "8dd0d8b8.9255d8",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 460,
        "y": 1700,
        "wires": [
            [
                "27678e7e.b9be9a",
                "be54094d.4b4c3",
                "b10c804.1727e8"
            ]
        ]
    },
    {
        "id": "5d6599af.cae6a",
        "type": "comment",
        "z": "8154a2.d3cebb6",
        "name": "Client Manual PItch Config",
        "info": "",
        "x": 430,
        "y": 1820,
        "wires": []
    },
    {
        "id": "be54094d.4b4c3",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "Active Coil",
        "func": "msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 2, \n'address': 6,\n'quantity': 1 } \n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1720,
        "wires": [
            [
                "7306430c.45d584"
            ]
        ]
    },
    {
        "id": "b10c804.1727e8",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": "RestartStatus Coil",
        "func": "msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 2, \n'address': 8,\n'quantity': 1 } \n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 1680,
        "wires": [
            [
                "7306430c.45d584"
            ]
        ]
    },
    {
        "id": "8328dd64.f428d",
        "type": "comment",
        "z": "8154a2.d3cebb6",
        "name": "Turbine 2 - Send outgoing Traffic",
        "info": "# Client",
        "x": 411,
        "y": 1541,
        "wires": []
    },
    {
        "id": "14c0c296.a72c1d",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "Pitch Gauge",
        "group": "6e3f54a4.50002c",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Pitch",
        "label": "Degrees",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d73b6a6.2d92a98",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "Wind Speed Guage",
        "group": "6e3f54a4.50002c",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1120,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a4e9fb66.53ac4",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "Wind Direction Compass",
        "group": "6e3f54a4.50002c",
        "order": 4,
        "width": "5",
        "height": "3",
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "Degrees",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9c05cbe4.cc0b6",
        "type": "modbus-read",
        "z": "8154a2.d3cebb6",
        "name": "Read Holding Registers",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "20",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "10f87254.083c46",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 380,
        "y": 1180,
        "wires": [
            [],
            [
                "e501dba4.adaf08"
            ]
        ]
    },
    {
        "id": "e501dba4.adaf08",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": " Decode array",
        "func": "//Read holding registers\nwindDirection2 = msg.payload.data[6]\nwindSpeed2 = msg.payload.data[7]\npitch2 = msg.payload.data[8]\nenergy2 = msg.payload.data[9]\nrpm2 = msg.payload.data[10]\n\n\n//set global values\nglobal.set(\"windDirection2\", windDirection2);\nglobal.set(\"windSpeed2\", windSpeed2);\nglobal.set(\"pitch2\", pitch2);\nglobal.set(\"energy2\", energy2);\nglobal.set(\"rpm2\", rpm2);\n\n//if active, show details on HMI - Clean code\nvar active2 = global.get(\"active2\");\n\n\nvar msg21 = { payload:windDirection2};\nvar msg22 = { payload:windSpeed2};\nvar msg23 = { payload:pitch2};\nvar msg24 = { payload:energy2};\nvar msg25 = { payload:rpm2};\n\n//return messages\nreturn [ msg21, msg22, msg23, msg24, msg25];\n",
        "outputs": 5,
        "noerr": 0,
        "x": 404.78684997558594,
        "y": 1301.7841491699219,
        "wires": [
            [
                "a4e9fb66.53ac4"
            ],
            [
                "d73b6a6.2d92a98"
            ],
            [
                "14c0c296.a72c1d"
            ],
            [
                "6caaacd.59e16d4"
            ],
            [
                "57ec927a.1084d4"
            ]
        ]
    },
    {
        "id": "57ec927a.1084d4",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "RPM Gauge",
        "group": "6e3f54a4.50002c",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "donut",
        "title": "RPM",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5a89386.ee35f48",
        "type": "comment",
        "z": "8154a2.d3cebb6",
        "name": "CLIENT",
        "info": "Client",
        "x": 350,
        "y": 1100,
        "wires": []
    },
    {
        "id": "88f8652b.d2f648",
        "type": "comment",
        "z": "8154a2.d3cebb6",
        "name": "Turbine 2 - Read incoming Traffic",
        "info": "# Client",
        "x": 440,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f63ae822.0fadb8",
        "type": "ui_text",
        "z": "8154a2.d3cebb6",
        "group": "8dd0d8b8.9255d8",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Turbine Status: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 660,
        "y": 1440,
        "wires": []
    },
    {
        "id": "18a9bb7.9d70ac5",
        "type": "modbus-read",
        "z": "8154a2.d3cebb6",
        "name": "Read Coils",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "6",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "10f87254.083c46",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 340,
        "y": 1420,
        "wires": [
            [],
            [
                "fb0557de.39176"
            ]
        ]
    },
    {
        "id": "fb0557de.39176",
        "type": "function",
        "z": "8154a2.d3cebb6",
        "name": " Decode array",
        "func": "active = msg.payload.data[4]\n\n//Set global status\nglobal.set(\"active2\", active)\n\n//SEt HMI active label\nvar status = \"inactive\";\n\nif (active === true){\n    status = \"active\";\n}\n\nvar msg1 = {payload:status};\nreturn [ msg1];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1480,
        "wires": [
            [
                "f63ae822.0fadb8",
                "211a377a.b94508"
            ]
        ]
    },
    {
        "id": "211a377a.b94508",
        "type": "debug",
        "z": "8154a2.d3cebb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 660,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2ee8cfea.5b723",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "99a28dd6.91df78",
        "order": 4,
        "width": "5",
        "height": "2",
        "gtype": "wave",
        "title": "Energy Level",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "6caaacd.59e16d4",
        "type": "ui_gauge",
        "z": "8154a2.d3cebb6",
        "name": "",
        "group": "6e3f54a4.50002c",
        "order": 4,
        "width": "5",
        "height": "2",
        "gtype": "wave",
        "title": "Energy Level",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 1280,
        "wires": []
    },
    {
        "id": "99a28dd6.91df78",
        "type": "ui_group",
        "z": "",
        "name": "Turbine One Status",
        "tab": "6462dc83.60a32c",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "10f87254.083c46",
        "type": "modbus-client",
        "z": "",
        "name": "server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectTimeout": 2000
    },
    {
        "id": "d463d064.e591e8",
        "type": "ui_group",
        "z": "",
        "name": "Turbine One Editor",
        "tab": "6462dc83.60a32c",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "8dd0d8b8.9255d8",
        "type": "ui_group",
        "z": "",
        "name": "Turbine Two Editor",
        "tab": "6462dc83.60a32c",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "6e3f54a4.50002c",
        "type": "ui_group",
        "z": "",
        "name": "Turbine Two Status",
        "tab": "6462dc83.60a32c",
        "order": 5,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "6462dc83.60a32c",
        "type": "ui_tab",
        "z": "",
        "name": "Wind Farm",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
