ics-emulator/scenarios/wind-farm/historian/Historian.json
[{"id":"ac9ddf7e.58f18","type":"tab","label":"Historian","disabled":false,"info":"This historian flow is to used to integrated with \nthe secnario section.\n\nThe purpose is to store the relevant data, including\n\n * wind direction\n * wind speed\n * pitch\n * energy\n * rpm\n \n\nAfter connecting the database built in MySQL, the\nUI side is supposed to be turned on to trigger \nthe data storage."},{"id":"25659ddc.e2e192","type":"modbus-read","z":"ac9ddf7e.58f18","name":"Read Holding Registers","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"22a7d901.b34306","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":357.017333984375,"y":882.8888778686523,"wires":[[],["6a13a8b4.336f28"]]},{"id":"3437a9eb.bba596","type":"comment","z":"ac9ddf7e.58f18","name":"Client + HMI + Historian","info":"Client","x":337.017333984375,"y":802.8888778686523,"wires":[]},{"id":"6a13a8b4.336f28","type":"function","z":"ac9ddf7e.58f18","name":"","func":"//Read holding registers\nwindDirection = msg.payload.data[0]\nwindSpeed = msg.payload.data[1]\npitch = msg.payload.data[2]\nenergy = msg.payload.data[3]\nrpm = msg.payload.data[4]\n\n//set global values\nglobal.set(\"windDirection\", windDirection);\nglobal.set(\"windSpeed\", windSpeed);\nglobal.set(\"pitch\", pitch);\nglobal.set(\"energy\", energy);\nglobal.set(\"rpm\", rpm);\n\n//if active, show details on HMI - Clean code\nvar active = global.get(\"active\");\n\n\nvar msg1 = { payload:windDirection};\nvar msg2 = { payload:windSpeed};\nvar msg3 = { payload:pitch};\nvar msg4 = { payload:energy};\nvar msg5 = {payload:rpm};\n\nmsg.direction= msg.payload.data[0]\nmsg.speed= msg.payload.data[1]\nmsg.pitch= msg.payload.data[2]\nmsg.energy= msg.payload.data[3]\nmsg.rpm= msg.payload.data[4]\n\nmsg.topic = \"INSERT INTO wind VALUES( \"+ msg.direction +\",\"+ msg.speed+ \",\"+ msg.energy+\",\"+ msg.pitch+\",\"+ msg.rpm+\")\"\n\nreturn msg;","outputs":1,"noerr":0,"x":573.6840515136719,"y":967.4722633361816,"wires":[["816087ab.c3ce88","cd4f9907.6a5308"]]},{"id":"816087ab.c3ce88","type":"mysql","z":"ac9ddf7e.58f18","mydb":"9220028c.62773","name":"wind","x":787.0170078277588,"y":961.968677520752,"wires":[[]]},{"id":"cd4f9907.6a5308","type":"debug","z":"ac9ddf7e.58f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"speed","targetType":"msg","x":805.1902923583984,"y":1094.877815246582,"wires":[]},{"id":"22a7d901.b34306","type":"modbus-client","z":"","name":"server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"9220028c.62773","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"scenario","tz":""}]