OFF_THE_GRID_1.0/ics-emulator/scenarios/wind-farm/historian/read_in.json
[{"id":"868bfbf8.4bfc38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b53b0dde.fa962","type":"mysql","z":"868bfbf8.4bfc38","mydb":"fade07b0.b83b58","name":"Temp.CPU","x":610,"y":540,"wires":[["b86900e2.18256","33867885.7bb6d8"]]},{"id":"b8a3fdb4.3888b","type":"inject","z":"868bfbf8.4bfc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"14","crontab":"","once":true,"onceDelay":"4","x":170,"y":400,"wires":[["24ae76b0.5f851a"]]},{"id":"b86900e2.18256","type":"debug","z":"868bfbf8.4bfc38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":600,"wires":[]},{"id":"24ae76b0.5f851a","type":"function","z":"868bfbf8.4bfc38","name":"SQL Query","func":"msg.topic = \"SELECT * FROM TAB_CPU ORDER BY ID DESC LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["b53b0dde.fa962"]]},{"id":"33867885.7bb6d8","type":"function","z":"868bfbf8.4bfc38","name":"Split","func":"var str = msg.payload;\nstr = str[0]['TValue'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":740,"wires":[["998217d5.76cb08","4d7b058f.1f771c"]]},{"id":"998217d5.76cb08","type":"debug","z":"868bfbf8.4bfc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":740,"wires":[]},{"id":"4d7b058f.1f771c","type":"ui_gauge","z":"868bfbf8.4bfc38","name":"","group":"b33eae09.ea153","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":860,"wires":[]},{"id":"fade07b0.b83b58","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"node-red-temp","tz":""},{"id":"b33eae09.ea153","type":"ui_group","z":"","name":"Default","tab":"420c998.a2a2768","disp":true,"width":"6","collapse":false},{"id":"420c998.a2a2768","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]